<div class="card overflow-hidden bg-white border rounded shadow-md p-2 group/card flex flex-col h-full">
  <div class="cursor-pointer flex-1 flex flex-col" [routerLink]="['/details' , product.slug , product.id]">
    <div class="flex items-center justify-center h-[200px] bg-gray-50">
      <img [src]="product.imageCover" class="max-h-full max-w-full object-contain" [alt]="product.title" />
    </div>
    <h3 class="text-green-700 mt-2 text-sm">{{ product.category.name }}</h3>
    <h4 class="line-clamp-2 text-base font-medium flex-1">{{ product.title }}</h4>
    <div class="flex items-center justify-between mt-2">
      <span class="font-semibold">{{ product.price }} EGP</span>
      <span class="flex items-center gap-1"><i class="fas fa-star text-yellow-500"></i> {{ product.ratingsAverage }}</span>
    </div>
  </div>

  <button
    class="mt-3 disabled:bg-gray-500 disabled:cursor-not-allowed bg-green-700 text-white border border-green-900 py-2 w-full cursor-pointer hover:bg-green-800 transition-all duration-300 rounded">
    Add To Cart
  </button>
</div>
