<section class="bg-gray-100">
  <owl-carousel-o [options]="mainOptions">
    <ng-template carouselSlide>
      <img src="/images/ms-1.avif" class="w-full h-[200px] sm:h-[300px] md:h-[400px] lg:h-[500px] object-cover" alt="Slide 1">
    </ng-template>
    <ng-template carouselSlide>
      <img src="/images/ms-2.avif" class="w-full h-[200px] sm:h-[300px] md:h-[400px] lg:h-[500px] object-cover" alt="Slide 2">
    </ng-template>
    <ng-template carouselSlide>
      <img src="/images/ms-3.avif" class="w-full h-[200px] sm:h-[300px] md:h-[400px] lg:h-[500px] object-cover" alt="Slide 3">
    </ng-template>
    <ng-template carouselSlide>
      <img src="/images/ms-4.avif" class="w-full h-[200px] sm:h-[300px] md:h-[400px] lg:h-[500px] object-cover" alt="Slide 4">
    </ng-template>
  </owl-carousel-o>
</section>
