<section class="bg-gray-100">
  <owl-carousel-o [options]="mainOptions">
    <ng-template carouselSlide>
      <img src="/images/ms-1.avif" width="1920" height="500" class="w-full h-[200px] sm:h-[300px] md:h-[400px] lg:h-[500px] object-cover" alt="LaCare - Quality Products at Great Prices">
    </ng-template>
    <ng-template carouselSlide>
      <img src="/images/ms-2.avif" width="1920" height="500" class="w-full h-[200px] sm:h-[300px] md:h-[400px] lg:h-[500px] object-cover" alt="LaCare - Best Deals Online">
    </ng-template>
    <ng-template carouselSlide>
      <img src="/images/ms-3.avif" width="1920" height="500" class="w-full h-[200px] sm:h-[300px] md:h-[400px] lg:h-[500px] object-cover" alt="LaCare - Shop Electronics & Fashion">
    </ng-template>
    <ng-template carouselSlide>
      <img src="/images/ms-4.avif" width="1920" height="500" class="w-full h-[200px] sm:h-[300px] md:h-[400px] lg:h-[500px] object-cover" alt="LaCare - Fast Delivery Across Egypt">
    </ng-template>
  </owl-carousel-o>
</section>
