<section className="bg-gray-200 rounded-lg border border-gray-300 p-4 shadow-md md:w-1/2 mx-auto my-14">
  <h1 className="text-center mb-3 font-light text-3xl">Login</h1>

    <form [formGroup]="loginForm" (ngSubmit)="submitForm()">



      <app-input [control]="loginForm.get('email')" [typeInput]="'email'"[labelInput]="'Email'" [idInput]="'email'"></app-input>
      <app-input [control]="loginForm.get('password')"  [labelInput]="'Password'" [idInput]="'password'">
        Success field should match the pattern
      </app-input>
      <button
        class="disabled:bg-gray-500 disabled:cursor-not-allowed bg-green-600 text-white py-3 w-full cursor-pointer hover:bg-green-700 transition-all duration-300"
        type="submit"
        style="font-family: 'Arial, sans-serif', cursive; font-size: 1.125rem;">
        login
       @if (isLoading) {
               <span> <i class="fas fa-spinner animate-spin"></i> </span>
       }
      </button>
      @if (masError) {
        <p class="text-center text-red-900 mt-4 p-4 bg-red-200">{{masError}}</p>

}
    </form>

  </section>

  <section class="text-center mt-8 pb-8">
    <h2 class="text-2xl mb-2" style="font-family: 'Arial, sans-serif', cursive;">Get The Lacare.egy App</h2>
    <p class="text-gray-600 text-sm" style="font-family: 'Brush Script MT', cursive;">
      We Will Send You a Link, Open it on Your Phone to download the app
    </p>
  </section>

